.head{
	width: 100%;
	height: 600px;
	background-size: 100%;
	background-image: url(img/head2.jpg);
}
.main{
	width: 500px;
	height: 500px;
	background-image: url(img/head.jpeg);
	position: absolute;
	left: 37%;
	top: 30%;
	box-shadow: 0 0 30px #000000;
}
.body{
	width: 100%;
	height: 1000px;
	background: linear-gradient(to bottom, black, #696969);
}
.caption1{
	width: 100%;
	color: white;
	margin-top: 520px;
	font-family: Bahnschrift Light;
	font-size: 20pt;
	text-align: center;
	text-shadow: 0 0 30px #FF8C00;
}
.caption2{
	width: 100%;
	color: white;
	margin-top: 50px;
	font-family: Bahnschrift Light;
	font-size: 30pt;
	text-align: center;
	text-shadow: 0 0 30px #FF8C00;
}
.caption3{
	width: 700px;
	color: white;
	margin-top: 20px;
	margin-left: -100px;
	font-family: Bahnschrift Light;
	font-size: 30pt;
	text-align: center;
	text-shadow: 0 0 30px #FF8C00;
}
.song{
	margin-top: 20px;
	margin-left: 100px;
}
.video{
	margin-top: 20px;
	width: 100%;
	height: 300px;
	box-shadow: 0 0 30px #000000;
}
.platform1{
	float: left;
	margin-top: 20px;
}

.platform2{
	float: left;
	margin-top: 20px;
	margin-left: 100px;
}
img{
	width: 100px;
	height: 100px;
}
